#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>


&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos {
        compatible = "zmk,combos";

        MID {
            bindings = <&mkp MCLK>;
            key-positions = <27 49>;
            layers = <0>;
        };

        pre {
            bindings = <&mkp MB4>;
            key-positions = <26 49>;
            layers = <0>;
        };

        next {
            bindings = <&mkp MB5>;
            key-positions = <28 49>;
            layers = <0>;
        };

        home {
            bindings = <&kp HOME>;
            key-positions = <15 49>;
            layers = <0>;
        };

        end {
            bindings = <&kp END>;
            key-positions = <39 49>;
            layers = <0>;
        };
    };

    behaviors {
     slp: sleep_on_idle {
        compatible = "zmk,behavior-sensor-sleep";
        label = "SLEEP_ON_IDLE";
        #sensor-cells = <0>;
        sleep-timeout-ms = <1000>; 
        enable-on-startup; 
    };
    tc: sensor_calibration {
        compatible = "zmk,behavior-sensor-calibration";
        label = "SENSOR_CALIBRATION";
        #sensor-cells = <0>;
      };
    };
};

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp LALT    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5          &kp NUMBER_6      &kp N7         &kp N8     &kp N9      &kp N0        &kp DEL
&kp F2      &kp Q         &kp W         &kp E         &kp R         &kp T           &kp Y             &kp U          &kp I      &kp O       &kp P         &kp BSLH
&kp ESCAPE  &kp A         &kp S         &kp D         &kp F         &kp G           &kp H             &kp J          &kp K      &kp L       &kp TAB       &kp SEMI
&kp F4      &kp Z         &kp X         &kp C         &kp V         &kp B           &kp N             &kp M          &kp COMMA  &kp PERIOD  &kp QUESTION  &mkp RCLK
                                        &lt 2 SPACE   &mkp LCLK     &mo 1           &kp LEFT_SHIFT    &kp BACKSPACE
                                                      &kp ENTER     &kp LEFT_GUI    &kp LEFT_CONTROL
            >;

            trackball-bindings = <&tmv_coarse>;
trackball {
    triggers {
              trigger = <&slp>;
    };
       pointers-config {
        accel-min = <50>;    
        accel-max = <30000>; 
    };
    pointers-filter {
        relative-min = <5>;  
        relative-max = <100>;
        multiplier = <1>;   
    };
};
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &bt BT_CLR      &bootloader    &trans          &trans            &trans     &trans      &tc
&trans  &trans  &trans  &trans  &trans  &trans          &kp INS        &kp CAPS        &kp LA(UP_ARROW)  &trans     &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans          &kp PAGE_UP    &kp LEFT_ARROW  &kp UP_ARROW      &kp RIGHT  &kp RC(F4)  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &kp PAGE_DOWN  &trans          &kp DOWN          &trans     &trans      &trans
                        &trans  &trans  &trans          &trans         &trans
                                &trans  &kp LEFT_GUI    &trans
            >;

            trackball-bindings = <&tmv_coarse>;
            trackball {
    triggers {
              trigger = <&slp>;
    };
       pointers-config {
        accel-min = <50>;    
        accel-max = <30000>; 
    };
    pointers-filter {
        relative-min = <5>;  
        relative-max = <100>;
        multiplier = <1>;   
    };
};
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans            &trans            &trans          &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans            &trans            &trans          &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT_CONTROL  &msc SCROLL_UP    &kp LEFT_SHIFT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT_CONTROL  &msc SCROLL_DOWN  &kp LEFT_SHIFT  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
                                &trans  &trans    &trans
            >;

            trackball-bindings = <&tmv_coarse>;
            trackball {
    triggers {
              trigger = <&slp>;
    };
       pointers-config {
        accel-min = <50>;    
        accel-max = <30000>; 
    };
    pointers-filter {
        relative-min = <5>;  
        relative-max = <100>;
        multiplier = <1>;   
    };
};
        };
    };
};
