#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    behaviors {
               slp: sleep_on_idle {
            compatible = "zmk,behavior-sensor-sleep";
            label = "SLEEP_ON_IDLE";
            #sensor-cells = <0>;
            sleep-timeout-ms = <1200>; 
            enable-on-startup;
        };
        
           tcal: sensor_calibration {
            compatible = "zmk,behavior-sensor-calibration";
            label = "SENSOR_CALIBRATION";
            #sensor-cells = <0>;
        };
        
        boot: bootloader {
            compatible = "zmk,behavior-bootloader";
            label = "BOOTLOADER";
        };
        
        to_mouse: sticky_layer {
            compatible = "zmk,behavior-sticky-key";
            label = "TO_MOUSE";
            #binding-cells = <1>;
            bindings = <&mo>;
            quick-tap-ms = <150>;
        };
    };

     &trackball {
            triggers {
            trigger = <&slp>;
        };
        pointers-config {
            accel-min = <50>;
            accel-max = <30000>;
        };
        pointers-filter {
            relative-min = <5>;
            relative-max = <100>;
            multiplier = <1>;
        };
        
        resolution = <800>; 
        accel-divisor = <8>; 
        scroll-divisor = <6>; 
    };

    keymap {
        compatible = "zmk,keymap";

           default_layer {
            bindings = <
              
                &kp TAB    &kp Q    &kp W    &kp E    &kp R    &kp T
                &kp ESC    &kp A    &kp S    &kp D    &kp F    &kp G
                &kp LSHIFT &kp Z    &kp X    &kp C    &kp V    &kp B
                
             
                &kp LCTRL  &to_mouse 1  &kp SPACE 

            
                &kp Y      &kp U    &kp I    &kp O    &kp P    &kp BSPC
                &kp H      &kp J    &kp K    &kp L    &kp SEMI &kp SQT
                &kp N      &kp M    &kp COMM &kp DOT  &kp FSLH &kp RSFT
                
          
                &kp RET    &kp DEL  &kp RALT
            >;
        };

  
        mouse_layer {
            bindings = <
             
                &none      &none    &none    &none    &none    &none
                &none      &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none    &none
                &none      &none    &none    &none    &none    &none
                
       
                &trans     &mo 1    &kp MB1  

            
                &none      &none    &none    &none    &none    &none
                &none      &wh_DOWN &wh_UP   &none    &none    &none
                &none      &none    &none    &none    &none    &none
                
             
                &kp MB2    &kp MB3  &trans
            >;
        };

    
        nav_layer {
            bindings = <
       
                &boot      &tcal    &none    &none    &none    &none 
                &kp C_VOL_UP &kp C_VOL_DN &kp C_MUTE &none    &none    &none
                &none      &none    &none    &none    &none    &none
                
         
                &trans     &mo 2    &trans

            
                &kp HOME   &kp UP   &kp END  &none    &none    &none
                &kp LEFT   &kp DOWN &kp RGHT &none    &none    &none
                &kp PG_UP  &kp PG_DN &none   &none    &none    &none
                
         
                &trans     &trans   &trans
            >;
        };
    };
};
